{
  "openapi": "3.0.0",
  "info": {
    "title": "Document Attachments API",
    "version": "1.0.0",
    "description": "API for persisting temporary attachments to a document."
  },
  "servers": [
    {
      "url": "https://api.cbddev.xyz/api/v2015"
    }
  ],
  "paths": {
    "/documents/{uid}/attachments/persist-temporary/{guid}": {
      "post": {
        "summary": "Persist Temporary Attachment",
        "description": "This endpoint allows persisting a temporary file as an attachment to a document.",
        "tags": ["Upload From Temporary Storage"],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the document.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the temporary file.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Attachment created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EDocumentAttachmentInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid UID or GUID provided.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid UID or GUID."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized access."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "EUserInfo": {
        "type": "object",
        "properties": {
          "userID": {
            "type": "integer",
            "example": 12345
          },
          "userName": {
            "type": "string",
            "example": "john.doe"
          }
        }
      },
      "EDocumentAttachmentInfo": {
        "type": "object",
        "properties": {
          "attachmentID": {
            "type": "integer",
            "example": 98765
          },
          "documentID": {
            "type": "integer",
            "nullable": true,
            "example": 123
          },
          "documentUID": {
            "type": "string",
            "example": "abcd-1234-efgh-5678"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "example": "2024-08-24T12:34:56Z"
          },
          "createdBy": {
            "$ref": "#/components/schemas/EUserInfo"
          },
          "submittedOn": {
            "type": "string",
            "format": "date-time",
            "example": "2024-08-25T14:30:00Z"
          },
          "submittedBy": {
            "$ref": "#/components/schemas/EUserInfo"
          },
          "isPublic": {
            "type": "boolean",
            "example": true
          },
          "filename": {
            "type": "string",
            "example": "attachment.pdf"
          },
          "mediaType": {
            "type": "string",
            "example": "application/pdf"
          },
          "charset": {
            "type": "string",
            "example": "utf-8"
          },
          "hash": {
            "type": "string",
            "example": "e99a18c428cb38d5f260853678922e03"
          },
          "size": {
            "type": "integer",
            "example": 1024
          },
          "url": {
            "type": "string",
            "example": "/api/v2013/documents/abcd-1234-efgh-5678/attachments/98765/attachment.pdf"
          }
        }
      }
    }
  }
}
