{
  "openapi": "3.0.0",
  "info": {
    "title": "Documents Attachments API",
    "version": "2.13.0"
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add the `Realm` header with value `abs-dev`."
      }
    }
  },
  "paths": {
    "/documents/{uid}/attachments/{filename}": {
      "put": {
        "summary": "Publish an update to a document's attachment",
        "description": "Allows administrators and authorized users to publish updates to a document's attachment. Requires an authentication token and specifies the document and filename.",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9\\-_]{11,128}$"
            },
            "description": "Identifier of the document. The value is case-sensitive."
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the file."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token used for authenticating the request."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "description": "Desired result format."
          }
        ],
        "responses": {
          "200": {
            "description": "Document attachment updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attachmentID": {
                      "type": "integer",
                      "example": 0
                    },
                    "documentID": {
                      "type": "integer",
                      "example": 789123
                    },
                    "documentUID": {
                      "type": "string",
                      "example": "012345abcf"
                    },
                    "filename": {
                      "type": "string",
                      "example": "report.pdf"
                    },
                    "isPublic": {
                      "type": "string",
                      "example": "isPublic"
                    },
                    "mediaType": {
                      "type": "string",
                      "example": "application/pdf"
                    },
                    "size": {
                      "type": "integer",
                      "example": 1234
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2013-10-01T22:08:17.073Z"
                    },
                    "createdBy": {
                      "type": "object",
                      "properties": {
                        "userID": {
                          "type": "integer",
                          "example": 123
                        },
                        "firstName": {
                          "type": "string",
                          "example": "John"
                        },
                        "lastName": {
                          "type": "string",
                          "example": "Smith"
                        },
                        "email": {
                          "type": "string",
                          "example": "fake.john.smith@cbd.int"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access. Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have the necessary permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "forbidden"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request contains invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "invalidParameter"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["date"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Date format is invalid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
