.schema-table tbody tr td:nth-child(1), td:nth-child(5),.schema-table tbody tr td:nth-child(2) {
    word-wrap: break-word;
    word-break: break-all;
}

p{
    margin: 0 !important;
}

.opblock th{
    padding: 1rem !important;
}

.opblock td{
    padding: 1rem !important;
}

.VPLink{
    text-decoration: none;
}

.navbar-link {
    display: flex;
    align-items: center;
    padding: 0 12px;
    line-height: var(--vp-nav-height);
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-text-1);
    transition: color 0.25s;
}