{
  "openapi": "3.0.0",
  "info": {
    "title": "Documents API",
    "description": "API to publish new documents.",
    "version": "2.13.0"
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add the `Realm` header with value `abs-dev`."
      }
    }
  },
  "paths": {
    "/documents": {
      "post": {
        "summary": "Create a new document",
        "description": "Publish a new document.",
        "tags": ["Create document"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "schema",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "absPermit"
            }
          },
          {
            "name": "Realm",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["abs", "chm", "bch", "abs-dev", "bch-dev", "chm-dev"]
            },
            "description": "Context in which the Clearing-House request is made. Allowed values: `abs`, `chm`, `bch`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "header": {
                    "type": "object",
                    "properties": {
                      "identifier": {
                        "type": "string",
                        "example": "CB51626B-CF45-2AA0-3A24-459669DDCC34"
                      },
                      "schema": {
                        "type": "string",
                        "example": "absPermit"
                      },
                      "languages": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["en"]
                      }
                    }
                  },
                  "government": {
                    "type": "object",
                    "properties": {
                      "identifier": {
                        "type": "string",
                        "example": "af"
                      }
                    }
                  },
                  "absCNA": {
                    "type": "object",
                    "properties": {
                      "identifier": {
                        "type": "string",
                        "example": "C84C7E6C-134C-F1B1-9A3B-B7443F135239@2"
                      }
                    }
                  },
                  "title": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "example": "123456"
                      }
                    }
                  },
                  "referenceToNationalPermit": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "example": "strsgfsgfdxgf"
                      }
                    }
                  },
                  "dateOfIssuance": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-07-02"
                  },
                  "providers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "example": "DECLARE-ORGANISATION_3386_20240709020251617@1"
                        }
                      }
                    }
                  },
                  "providersConfidential": {
                    "type": "boolean",
                    "example": true
                  },
                  "entitiesToWhomPICGranted": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "example": "DECLARE-ORGANISATION_3386_20240709020251617@1"
                        }
                      }
                    }
                  },
                  "entitiesToWhomPICGrantedConfidential": {
                    "type": "boolean",
                    "example": true
                  },
                  "subjectMatter": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "example": "<div><!--block-->asdf</div>"
                      }
                    }
                  },
                  "subjectMatterConfidential": {
                    "type": "boolean",
                    "example": true
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "example": "357DBB22-6A6C-4C49-BA1F-037320B09247"
                        }
                      }
                    }
                  },
                  "specimens": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "example": "https://www.Google.com"
                        },
                        "name": {
                          "type": "string",
                          "example": "Google"
                        },
                        "language": {
                          "type": "string",
                          "example": "en"
                        }
                      }
                    }
                  },
                  "taxonomies": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "example": "https://www.google.com"
                        },
                        "name": {
                          "type": "string",
                          "example": "Google"
                        },
                        "language": {
                          "type": "string",
                          "example": "en"
                        }
                      }
                    }
                  },
                  "picGranted": {
                    "type": "boolean",
                    "example": true
                  },
                  "picInformation": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "example": "<div><!--block-->asdfasdfasdf</div>"
                      }
                    }
                  },
                  "picDocuments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "example": "https://www.google.com"
                        },
                        "name": {
                          "type": "string",
                          "example": "Google"
                        },
                        "language": {
                          "type": "string",
                          "example": "en"
                        }
                      }
                    }
                  },
                  "matEstablished": {
                    "type": "boolean",
                    "example": true
                  },
                  "matInformation": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "example": "<div><!--block-->asdf</div>"
                      }
                    }
                  },
                  "matDocuments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "example": "https://www.google.com"
                        },
                        "name": {
                          "type": "string",
                          "example": "Google"
                        },
                        "language": {
                          "type": "string",
                          "example": "en"
                        }
                      }
                    }
                  },
                  "usages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "example": "5E833A3F-87D1-4ADD-8701-9F1B76383017"
                        }
                      }
                    }
                  },
                  "usagesConfidential": {
                    "type": "boolean",
                    "example": true
                  },
                  "usagesDescription": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "example": "<div><!--block-->asdf</div>"
                      }
                    }
                  },
                  "thirdPartyTransferCondition": {
                    "type": "object",
                    "properties": {
                      "en": {
                        "type": "string",
                        "example": "<div><!--block-->asdf</div>"
                      }
                    }
                  },
                  "dateOfExpiry": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-07-16"
                  },
                  "permitFiles": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "example": "https://www.google.com"
                        },
                        "name": {
                          "type": "string",
                          "example": "Google"
                        },
                        "language": {
                          "type": "string",
                          "example": "en"
                        }
                      }
                    }
                  },
                  "notes": {
                    "type": "string",
                    "example": "[\"[ Pramod Sam | Jul 8, 2024 8:10:52 PM ] - aasdfasdf\"]"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "example": {
                  "identifier": "abcdefgh-123",
                  "documentID": 12345,
                  "type": "organization",
                  "owner": "user:123",
                  "revision": 3,
                  "size": 1234,
                  "realm": "CHM",
                  "mediaType": "application/json",
                  "charset": "utf-8",
                  "title": {
                    "en": "Secretariat of the Convention on Biological Diversity (SCBD)",
                    "fr": "Secrétariat de la Convention sur la diversité biologique (SCDB)"
                  },
                  "summary": {
                    "en": "UN and other specialized agency of the UN Common System",
                    "es": "Organismo de la ONU y otros organismos especializados del Sistema Común de la ONU",
                    "fr": "Nations Unies et autres agences spécialisées du régime commun des Nations Unies",
                    "ar": "وكالة من وكالات الأمم المتحدة ووكالات متخصصة أخرى في المنظومة العامة للأمم المتحدة",
                    "ru": "ООН и другое специализированное учреждение общей системы ООН",
                    "zh": "联合国和联合国共同制度的其他专门机构"
                  },
                  "createdOn": "2013-04-08T19:44:04.943Z",
                  "createdBy": {
                    "userID": 123,
                    "firstName": "John",
                    "lastName": "Smith",
                    "email": "fake.john.smith@cbd.int"
                  },
                  "updatedOn": "2013-10-01T22:08:17.073Z",
                  "updatedBy": {
                    "userID": 123,
                    "firstName": "John",
                    "lastName": "Smith",
                    "email": "fake.john.smith@cbd.int"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "code": "invalidParameter",
                  "fields": ["date"],
                  "message": "Date format is invalid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 401,
                  "code": "unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 403,
                  "code": "forbidden",
                  "message": "Insufficient Privileges to create document [S10]"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {}
}
