{
  "openapi": "3.0.0",
  "info": {
    "title": "Documents API",
    "description": "API to unpublish documents.",
    "version": "2.13.0"
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add the `Realm` header with value `ABS-DEV`."
      }
    }
  },
  "paths": {
    "/documents/{uid}": {
      "delete": {
        "summary": "Delete a document",
        "description": "Unpublish a document.",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9\\-_]{11,128}$"
            },
            "description": "Identifier of the document. The value is case-sensitive."
          },
          {
            "name": "schema",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "<schema>"
            },
            "description":"Replace 'schema' with a specific value. Visit [Record Types](/record-types) to get a list of all available schemas."
          },
          {
            "name": "Realm",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ABS", "CHM", "BCH", "ABS-DEV", "BCH-DEV", "CHM-DEV"]
            },
            "description": "Context in which the Clearing-House request is made. Allowed values: `ABS`, `CHM`, `BCH`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
