{
  "openapi": "3.0.0",
  "info": {
    "title": "stakeholderCommitment API",
    "description": "API for creating and managing stakeholderCommitment documents, including workflows and draft publishing.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2023"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add the `Realm` header with value `ORT-dev`."
      }
    }
  },
  "paths": {
    "/documents/schemas/{schema}/{identifier}": {
      "put": {
        "summary": "Update existing stakeholderCommitment document",
        "tags": ["Update Document"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "schema",
            "in": "path",
            "description": "The record schema identifier",
            "required": true,
            "schema": {
              "type": "string",
              "example": "stakeholderCommitment"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The unique identifier of the record to update",
            "required": true,
            "schema": {
              "type": "string",
              "example": "449F8792-14A7-195E-35C8-1E66D57892BC"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "description": "Realm used for the request",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ort-dev"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "object",
                    "properties": {
                      "header": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "example": "449F8792-14A7-195E-35C8-1E66D57892BC"
                          },
                          "schema": {
                            "type": "string",
                            "example": "stakeholderCommitment"
                          },
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": ["en"]
                          }
                        }
                      },
                      "firstName": {
                        "type": "string",
                        "example": "Jack"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Sparrow"
                      },
                      "designation": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "Captain"
                          }
                        }
                      },
                      "department": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "Navigation"
                          }
                        }
                      },
                      "organization": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "Coalition of the Seas"
                          }
                        }
                      },
                      "organizationAcronym": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "COS"
                          }
                        }
                      },
                      "organizationType": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "example": "A8CE34C5-A2D7-44F7-9F10-0AD69448E599"
                          }
                        }
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "Indian ocean"
                          }
                        }
                      },
                      "city": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "IC"
                          }
                        }
                      },
                      "state": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "IDWS"
                          }
                        }
                      },
                      "postalCode": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "123456"
                          }
                        }
                      },
                      "country": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "example": "au"
                          }
                        }
                      },
                      "emails": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["test@c.com"]
                      },
                      "jurisdiction": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "example": "528B1187-F1BD-4479-9FB3-ADBD9076D361"
                          }
                        }
                      },
                      "jurisdictionRegions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string",
                              "example": "5D13EC43-F3E0-415E-AF67-62CCC85899AF"
                            }
                          }
                        }
                      },
                      "title": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "The most amazing commitment"
                          }
                        }
                      },
                      "description": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "<h2>What is Lorem Ipsum?</h2><p>Lorem Ipsum is dummy text...</p>"
                          }
                        }
                      },
                      "partners": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "<p>AMAZON Inc</p>"
                          }
                        }
                      },
                      "timelineStartDate": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-09-29"
                      },
                      "coverageCountries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string",
                              "example": "ht"
                            }
                          }
                        }
                      },
                      "linkedToNbsapCountries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string",
                              "example": "bj"
                            }
                          }
                        }
                      },
                      "isLinkedToNbsap": {
                        "type": "boolean",
                        "example": true
                      },
                      "primaryGlobalAlignment": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "example": "GBF-TARGET-09"
                          }
                        }
                      },
                      "isFundingSufficient": {
                        "type": "boolean",
                        "example": false
                      },
                      "isReportingOnTarget15": {
                        "type": "boolean",
                        "example": false
                      },
                      "isProgressTracked": {
                        "type": "boolean",
                        "example": false
                      },
                      "notes": {
                        "type": "string",
                        "example": "[\"[ Pramod Sam | Jul 8, 2024 8:10:52 PM ] - aasdfasdf\"]"
                      }
                    }
                  }
                }
              },
              "example": {
                "document": {
                  "header": {
                    "schema": "stakeholderCommitment",
                    "identifier": "449F8792-14A7-195E-35C8-1E66D57892BC",
                    "languages": ["en"]
                  },
                  "firstName": "Jack",
                  "lastName": "Sparrow",
                  "designation": { "en": "Captain" },
                  "department": { "en": "Navigation" },
                  "organization": { "en": "Coalition of the Seas" },
                  "organizationAcronym": { "en": "COS" },
                  "organizationType": { "identifier": "A8CE34C5-A2D7-44F7-9F10-0AD69448E599" },
                  "address": { "en": "Indian ocean" },
                  "city": { "en": "IC" },
                  "state": { "en": "IDWS" },
                  "postalCode": { "en": "123456" },
                  "country": { "identifier": "au" },
                  "emails": ["test@c.com"],
                  "jurisdiction": { "identifier": "528B1187-F1BD-4479-9FB3-ADBD9076D361" },
                  "jurisdictionRegions": [{ "identifier": "5D13EC43-F3E0-415E-AF67-62CCC85899AF" }],
                  "title": { "en": "The most amazing commitment" },
                  "description": {
                    "en": "<h2>What is Lorem Ipsum?</h2><p>Lorem Ipsum is dummy text...</p>"
                  },
                  "partners": { "en": "<p>AMAZON Inc</p>" },
                  "timelineStartDate": "2025-09-29",
                  "coverageCountries": [{ "identifier": "ht" }],
                  "linkedToNbsapCountries": [
                    { "identifier": "bj" },
                    { "identifier": "by" },
                    { "identifier": "kh" },
                    { "identifier": "cy" }
                  ],
                  "isLinkedToNbsap": true,
                  "primaryGlobalAlignment": { "identifier": "GBF-TARGET-09" },
                  "isFundingSufficient": false,
                  "isReportingOnTarget15": false,
                  "isProgressTracked": false,
                  "notes": "[\"[ Pramod Sam | Jul 8, 2024 8:10:52 PM ] - aasdfasdf\"]"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft": {
                      "type": "object",
                      "properties": {
                        "header": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string",
                              "example": "CB51626B-CF45-2AA0-3A24-459669DDCC34"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
