{
  "openapi": "3.0.0",
  "info": {
    "title": "Document Securities API",
    "version": "2.13.0",
    "description": "API Documentation."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add the `Realm` header with value `abs-dev`."
      }
    }
  },
  "paths": {
    "/documents/{uid}/securities/delete": {
      "get": {
        "summary": "Check if a document can be deleted",
        "tags":["Can Delete"],
        "operationId": "canDeleteDocument",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9\\-_]{11,128}$"
            },
            "description": "Identifier of the document. The value is case-sensitive."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "description": "Result format. Allowed value: 'application/json'."
          }
        ],
        "responses": {
          "200": {
            "description": "Document can be deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isAllowed": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "forbidden"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "oneOf": [
                  {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "statusCode": {
                          "type": "integer",
                          "example": 400
                        },
                        "code": {
                          "type": "string",
                          "example": "mandatory"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": ["fieldName1", "fieldName2"]
                        }
                      }
                    }
                  },
                  {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "statusCode": {
                          "type": "integer",
                          "example": 400
                        },
                        "code": {
                          "type": "string",
                          "example": "invalidParameter"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": ["date"]
                        },
                        "message": {
                          "type": "string",
                          "example": "Date format is invalid"
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string",
                      "example": "notFound"
                    },
                    "message": {
                      "type": "string",
                      "example": "Document not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
