{
  "openapi": "3.0.0",
  "info": {
    "title": "Document Securities API",
    "version": "2.13.0",
    "description": "API Documentation."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add the `Realm` header with value `abs-dev`."
      }
    }
  },
  "paths": {
    "/documents/{uid}/securities/update": {
      "get": {
        "summary": "Check if a document can be updated",
        "tags":["Can Update"],
        "operationId": "canUpdateDocument",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9\\-_]{11,128}$"
            },
            "description": "Identifier of the document. The value is case-sensitive."
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Document metadata to use to determine security access. List of parameters may vary depending on the type of document."
          },
          {
            "name": "government",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ISO 3166-1 alpha-2"]
            },
            "description": "Government code to which the record should belong. For national records only."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response indicating the document can be updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isAllowed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Requires authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Operation or access is forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. One or more parameters are invalid or missing.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "statusCode": {
                          "type": "integer"
                        },
                        "code": {
                          "type": "string"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": ["statusCode", "code", "fields"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "statusCode": {
                          "type": "integer"
                        },
                        "code": {
                          "type": "string"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["statusCode", "code", "fields"]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found. Document not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  }
}
