{
  "openapi": "3.0.0",
  "info": {
    "title": "Document Attachments API",
    "version": "1.0.0",
    "description": "API for persisting temporary attachments to a document."
  },
  "servers": [
    {
      "url": "https://api.cbddev.xyz/api/v2015"
    }
  ],
  "paths": {
    "/documents/{uid}/attachments/persist-temporary/{guid}": {
      "post": {
        "summary": "Persist Temporary Attachment",
        "description": "This endpoint allows persisting a temporary file as an attachment to a document.",
        "tags": ["CH Storage"],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the document.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the temporary file.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Additional data for persisting the attachment, if required.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "description": "Optional metadata related to the attachment.",
                    "example": {
                      "fileType": "pdf",
                      "notes": "Sample attachment"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment persisted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Attachment persisted successfully."
                    },
                    "attachmentId": {
                      "type": "string",
                      "description": "The unique identifier for the persisted attachment.",
                      "example": "12345-attachment-id"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid UID or GUID provided.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid UID or GUID."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized access."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}
