{
  "openapi": "3.0.0",
  "info": {
    "title": "Draft Securities API",
    "version": "2.13.0",
    "description": "API Documentation."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add the `Realm` header with value `abs-dev`."
      }
    }
  },
  "paths": {
    "/documents/{uid}/versions/draft/securities/update": {
      "get": {
        "summary": "Check if a draft can be updated",
        "description": "Tells if a draft can be updated based on the supplied metadata.",
        "tags": ["Can update"],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9\\-_]{11,128}$"
            },
            "description": "Identifier of the document. The value is case-sensitive."
          },
          {
            "name": "metadata",
            "in": "query",
            "schema": {
              "type": "object",
              "properties": {
                "government": {
                  "type": "string",
                  "description": "Government code to which the record should belong. For national records only.",
                  "enum": ["ISO 3166-1 alpha-2"]
                }
              }
            },
            "description": "Document metadata to determine security access."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "description": "Result format."
          },
          {
            "name": "Realm",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["abs", "chm", "bch", "abs-dev", "bch-dev", "chm-dev"]
            },
            "description": "Context in which the Clearing-House request is made. Allowed values: `abs`, `chm`, `bch`."
          }
        ],
        "responses": {
          "200": {
            "description": "Draft can be updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isAllowed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "forbidden"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "oneOf": [
                    {
                      "properties": {
                        "statusCode": {
                          "type": "integer",
                          "example": 400
                        },
                        "code": {
                          "type": "string",
                          "example": "mandatory"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "fieldName1"
                          }
                        }
                      }
                    },
                    {
                      "properties": {
                        "statusCode": {
                          "type": "integer",
                          "example": 400
                        },
                        "code": {
                          "type": "string",
                          "example": "invalidParameter"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "date"
                          }
                        },
                        "message": {
                          "type": "string",
                          "example": "Date format is invalid"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string",
                      "example": "notFound"
                    },
                    "message": {
                      "type": "string",
                      "example": "Document not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
