{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cbddev.xyz"
    }
  ],
  "paths": {
    "/api/v2013/thesaurus/domains/cbdClearingHouses/terms": {
      "get": {
        "summary": "Retrieve CBD Clearing-Houses Terms",
        "tags": ["Libraries"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "termId": {
                        "type": "integer",
                        "example": 6351
                      },
                      "identifier": {
                        "type": "string",
                        "example": "cbdLibrary:chm"
                      },
                      "name": {
                        "type": "string",
                        "example": "CBD Clearing-House (chm.cbd.int)"
                      },
                      "title": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "CBD Clearing-House (chm.cbd.int)"
                          }
                        }
                      },
                      "shortTitle": {
                        "type": "object",
                        "properties": {
                          "en": {
                            "type": "string",
                            "example": "CHM"
                          }
                        }
                      },
                      "description": {
                        "type": "string",
                        "example": ""
                      },
                      "longDescription": {
                        "type": "object"
                      },
                      "source": {
                        "type": "string",
                        "example": ""
                      },
                      "broaderTerms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "narrowerTerms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "relatedTerms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "nonPreferedTerms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
