{
  "openapi": "3.0.0",
  "info": {
    "title": "CBD API Documentation",
    "version": "1.0.0",
    "description": "API Documentation."
  },
  "servers": [
    {
      "url": "https://api.cbddev.xyz"
    }
  ],
  "paths": {
    "/api/v2013/thesaurus/terms/5B6177DD-5E5E-434E-8CB7-D63D67D5EBED": {
      "get": {
        "summary": "Get details of a specific term",
        "tags": ["Other"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "termId": {
                      "type": "integer"
                    },
                    "identifier": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "title": {
                      "type": "object",
                      "properties": {
                        "en": { "type": "string" },
                        "es": { "type": "string" },
                        "fr": { "type": "string" },
                        "ar": { "type": "string" },
                        "ru": { "type": "string" },
                        "zh": { "type": "string" }
                      }
                    },
                    "shortTitle": {
                      "type": "object"
                    },
                    "description": {
                      "type": "string"
                    },
                    "longDescription": {
                      "type": "object"
                    },
                    "source": {
                      "type": "string"
                    },
                    "broaderTerms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "narrowerTerms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "relatedTerms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "nonPreferedTerms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
