{
  "openapi": "3.0.0",
  "info": {
    "title": "Organism Common Uses API",
    "description": "API Documentation.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cbddev.xyz"
    }
  ],
  "paths": {
    "/api/v2013/thesaurus/domains/OrganismCommonUses/terms": {
      "get": {
        "summary": "Get Common Uses of Organisms",
        "tags": ["Organism common uses"],
        "responses": {
          "200": {
            "description": "A list of organism common uses",
            "content": {
              "application/json": {
                "example": [
                  {
                    "termId": 7300,
                    "identifier": "F816F788-BBC3-4ADB-9979-AE07CDED094E",
                    "name": "Biocontrol",
                    "title": {
                      "en": "Biocontrol",
                      "es": "Control biológico",
                      "fr": "Lutte biologique",
                      "ar": "المكافحة الحيوية",
                      "ru": "Биоконтроль",
                      "zh": "生物控制"
                    },
                    "shortTitle": {},
                    "description": "",
                    "longDescription": {},
                    "source": "",
                    "broaderTerms": [],
                    "narrowerTerms": [],
                    "relatedTerms": [],
                    "nonPreferedTerms": []
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Domain not found"
          }
        }
      }
    }
  }
}
