{
  "openapi": "3.0.0",
  "info": {
    "title": "ABS Permit API",
    "version": "1.0.0",
    "description": "API for querying ABS permits."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013",
      "description": "ABS Permit API Server"
    }
  ],
  "paths": {
    "/index": {
      "get": {
        "summary": "Query ABS permits",
        "description": "Retrieve permits by schema query.",
        "tags": ["Get All ABS Permit"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "(schema_s:absPermit)"
            },
            "description": "Query parameter for searching ABS permits based on schema."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of permits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "numFound": {
                          "type": "integer",
                          "description": "Total number of permits found"
                        },
                        "start": {
                          "type": "integer",
                          "description": "Start index of the results"
                        },
                        "docs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Permit ID"
                              },
                              "title": {
                                "type": "string",
                                "description": "Title of the permit"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "date",
                                "description": "Date the permit was issued"
                              },
                              "expirationDate": {
                                "type": "string",
                                "format": "date",
                                "description": "Date the permit expires"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "numFound": 150,
                    "start": 0,
                    "docs": [
                      {
                        "id": "12345",
                        "title": "Permit Title Example",
                        "issuedDate": "2024-01-01",
                        "expirationDate": "2025-01-01"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, possibly due to malformed query parameter"
          }
        }
      }
    }
  }
}
