{
  "openapi": "3.0.0",
  "info": {
    "title": "Index Query API",
    "description": "API to load information from Solr index.",
    "version": "2.13.0"
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "paths": {
    "/index": {
      "get": {
        "summary": "Query Solr index",
        "description": "Load information from Solr index.",
        "tags": ["Get All ABS Permit with query"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The q parameter is normally the main query for the request. See Solr query syntax for more information."
          },
          {
            "name": "fl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fields to return in the search results. Use comma-separated field names to specify which fields should be included in the response."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specifies the sort order of the results. The format is fieldname desc for descending or fieldname asc for ascending."
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The starting offset for the results. This parameter allows pagination by specifying the index of the first result to return."
          },
          {
            "name": "rows",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The number of results to return. Default value is 10 if not specified.",
            "default": "10"
          },
          {
            "name": "field",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specifies the fields to use for faceting. Requires facet=true to be enabled."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseHeader": {
                      "type": "object",
                      "properties": {
                        "status": { "type": "integer" },
                        "QTime": { "type": "integer" },
                        "params": {
                          "type": "object",
                          "properties": {
                            "indent": { "type": "string" },
                            "q": { "type": "string" },
                            "_": { "type": "string" },
                            "wt": { "type": "string" }
                          }
                        }
                      }
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "numFound": { "type": "integer" },
                        "start": { "type": "integer" },
                        "docs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "schema_s": { "type": "string" },
                              "title_t": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
