{
  "openapi": "3.0.0",
  "info": {
    "title": "Index Query API",
    "description": "API to load information from Solr index.",
    "version": "2.13.0"
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "paths": {
    "/index": {
      "get": {
        "summary": "Query Solr index",
        "description": "Load information from Solr index.",
        "tags": ["Get all result with query"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "(schema_s:absPermit)"
            },
            "description": "Query parameter for searching records based on schema."
          },
          {
            "name": "fl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fields to return in the search results. Use comma-separated field names to specify which fields should be included in the response."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Specifies the sort order of the results. The format is fieldname desc for descending or fieldname asc for ascending."
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The starting offset for the results. This parameter allows pagination by specifying the index of the first result to return."
          },
          {
            "name": "rows",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The number of results to return. Default value is 10 if not specified.",
            "default": "10"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "response": {
                    "numFound": 25,
                    "start": 0,
                    "docs": [
                      {
                        "id": "52000000cbd0800000032af8",
                        "schema_s": "absPermit",
                        "title_s": "Workflow 2",
                        "title_AR_s": "Workflow 2",
                        "title_EN_s": "Workflow 2",
                        "title_ES_s": "Workflow 2",
                        "title_FR_s": "Workflow 2",
                        "schemaType_s": "national",
                        "uniqueIdentifier_s": "absch-ircc-ht-207608-2",
                        "government_s": "ht",
                        "url_ss": [
                          "https://absch.cbddev.xyz/database/record?documentID=207608"
                        ]
                      }
                    ]
                  },
                  "nonSupportedParams": []
                }
              }
            }
          }
        }
      }
    }
  }
}
