{
  "openapi": "3.0.0",
  "info": {
    "title": "Solr API",
    "version": "1.0.0",
    "description": "API for querying Solr with specific government, usage, and keyword criteria."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013",
      "description": "Solr API Server"
    }
  ],
  "paths": {
    "/index": {
      "get": {
        "summary": "Query Solr with government, usage, and keyword criteria",
        "description": "Retrieve records by schema, government, usage, and keyword criteria. Note: The value of `usages_ss` and `keywords_ss` fields may contain special characters that need to be escaped. Refer to the [Apache Solr](/apache-solr) for a list of special characters and how to escape them.",
        "tags": ["Get All results with sub-filters"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "(schema_s:absPermit)AND(government_s:cy)AND(usages_ss:60EA2F49\\-A9DD\\-406F\\-921A\\-8A1C9AA8DFDD)AND(keywords_ss:357DBB22\\-6A6C\\-4C49-BA1F\\-037320B09247)"
            },
            "description": "Query parameter for searching results based on schema, government, usage, and keyword criteria."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of records matching the criteria",
            "content": {
              "application/json": {
                "example": {
                  "response": {
                    "numFound": 25,
                    "start": 0,
                    "docs": [
                      {
                        "id": "52000000cbd0800000032af8",
                        "schema_s": "absPermit",
                        "title_s": "Workflow 2",
                        "title_AR_s": "Workflow 2",
                        "title_EN_s": "Workflow 2",
                        "title_ES_s": "Workflow 2",
                        "title_FR_s": "Workflow 2",
                        "schemaType_s": "national",
                        "uniqueIdentifier_s": "absch-ircc-ht-207608-2",
                        "government_s": "ht",
                        "url_ss": [
                          "https://absch.cbddev.xyz/database/record?documentID=207608"
                        ]
                      }
                    ]
                  },
                  "nonSupportedParams": []
                }
              }
            }
          },
          "400": {
            "description": "Bad request, possibly due to malformed query parameter"
          }
        }
      }
    }
  }
}
