{
  "openapi": "3.0.0",
  "info": {
    "title": "Solr API",
    "version": "1.0.0",
    "description": "API for querying Solr."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013",
      "description": "Solr API Server"
    }
  ],
  "paths": {
    "/index": {
      "get": {
        "summary": "Query all results",
        "description": "Retrieve records by schema query.",
        "tags": ["Get All resullts"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "(schema_s:absPermit)"
            },
            "description": "Query parameter for searching results based on schema."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of records",
            "content": {
              "application/json": {
                "example": {
                  "response": {
                    "numFound": 150,
                    "start": 0,
                    "docs": [
                      {
                        "id": "12345",
                        "title": "Permit Title Example",
                        "issuedDate": "2024-01-01",
                        "expirationDate": "2025-01-01"
                      }
                    ]
                  },
                  "nonSupportedParams": []
                }
              }
            }
          },
          "400": {
            "description": "Bad request, possibly due to malformed query parameter"
          }
        }
      }
    }
  }
}
