{
  "openapi": "3.0.0",
  "info": {
    "title": "Index API",
    "version": "1.0.0",
    "description": "API for querying results with specific government criteria."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013",
      "description": "Index API Server"
    }
  ],
  "paths": {
    "/index": {
      "get": {
        "summary": "Query results with specific criteria",
        "description": "Retreive records for a given government.",
        "tags": ["Get All results with country"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "(schema_s:absPermit)AND(government_s:ht)"
            },
            "description": "Query parameter for searching results based on schema and government criteria."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of records matching the criteria",
            "content": {
              "application/json": {
                "example": {
                  "response": {
                    "numFound": 100,
                    "start": 0,
                    "docs": [
                      {
                        "id": "52000000cbd0800000032af8",
                        "schema_s": "absPermit",
                        "title_s": "Workflow 2",
                        "title_AR_s": "Workflow 2",
                        "title_EN_s": "Workflow 2",
                        "title_ES_s": "Workflow 2",
                        "title_FR_s": "Workflow 2",
                        "schemaType_s": "national",
                        "uniqueIdentifier_s": "absch-ircc-ht-207608-2",
                        "government_s": "ht",
                        "url_ss": [
                          "https://absch.cbddev.xyz/database/record?documentID=207608"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, possibly due to malformed query parameter"
          }
        }
      }
    }
  }
}
