{
  "openapi": "3.0.0",
  "info": {
    "title": "Thesaurus Terms API - Regional / Multilateral",
    "description": "API for retrieving terms related to regional and multilateral topics from the thesaurus.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cbd.int"
    }
  ],
  "paths": {
    "/api/v2013/thesaurus/domains/5001DC0F-908A-4983-8962-EBF4FC18F245/terms": {
      "get": {
        "summary": "Get Regional / Multilateral Terms",
        "responses": {
          "200": {
            "description": "A list of regional and multilateral terms",
            "content": {
              "application/json": {
                "example": [
                  {
                    "termId": 6503,
                    "identifier": "528B1187-F1BD-4479-9FB3-ADBD9076D361",
                    "name": "Regional / Multilateral",
                    "title": {
                      "en": "Regional / Multilateral",
                      "es": "Regional / Multilateral",
                      "fr": "Régional / Multi-latéral",
                      "ar": "إقليمية/متعددة الأطراف",
                      "ru": "Региональная/многосторонняя",
                      "zh": "区域/多边"
                    },
                    "shortTitle": {},
                    "description": "",
                    "longDescription": {},
                    "source": "",
                    "broaderTerms": [],
                    "narrowerTerms": [],
                    "relatedTerms": [],
                    "nonPreferedTerms": []
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Domain not found"
          }
        }
      }
    }
  }
}
