{
  "openapi": "3.0.0",
  "info": {
    "title": "Documents Attachments API",
    "version": "2.13.0",
    "description": "This API retrieves the data of a document's attachment or provides a redirection to the file's location."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "paths": {
    "/documents/{uid}/attachments/{filename}": {
      "get": {
        "summary": "Get Document Attachment Data",
        "description": "Retrieves the data of a document's attachment or provides a redirection to the file's location.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9\\-_]{11,128}$"
            },
            "description": "Identifier of the document. The value is case-sensitive."
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the file."
          }
        ],
        "responses": {
          "200": {
            "description": "Raw data of the attachment.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Redirection to the location of the attachment.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["statusCode", "code"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": ["statusCode", "code"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": ["statusCode", "code"]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Document or attachment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["statusCode", "code"]
                }
              }
            }
          }
        }
      }
    }
  }
}
