{
  "openapi": "3.0.0",
  "info": {
    "title": "Documents API",
    "version": "2.13.0",
    "description": "API for managing document attachments."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add the `Realm` header with value `ABS-DEV`."
      }
    }
  },
  "paths": {
    "/documents/{uid}/attachments": {
      "get": {
        "summary": "Retrieve a list of document attachments",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9\\-_]{11,128}$"
            },
            "description": "Identifier of the document. The value is case-sensitive."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. The $filter system query option allows clients to filter a collection of resources. See OData $filter."
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. The $orderby system query option allows clients to request resources in a particular order. See OData $orderby."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. The $top system query option requests the number of items in the queried collection to be included in the result. See OData $top."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. The $skip query option requests the number of items in the queried collection that are to be skipped and not included in the result. See OData $skip."
          }
        ],
        "responses": {
          "200": {
            "description": "List of document attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Count": {
                      "type": "integer",
                      "example": 12
                    },
                    "Items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "attachmentID": {
                            "type": "integer",
                            "example": 123456
                          },
                          "documentID": {
                            "type": "integer",
                            "example": 789123
                          },
                          "documentUID": {
                            "type": "string",
                            "example": "012345abcf"
                          },
                          "filename": {
                            "type": "string",
                            "example": "report.pdf"
                          },
                          "isPublic": {
                            "type": "string",
                            "example": "isPublic"
                          },
                          "mediaType": {
                            "type": "string",
                            "example": "application/pdf"
                          },
                          "size": {
                            "type": "integer",
                            "example": 1234
                          },
                          "createdOn": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2013-10-01T22:08:17.073Z"
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "userID": {
                                "type": "integer",
                                "example": 123
                              },
                              "firstName": {
                                "type": "string",
                                "example": "John"
                              },
                              "lastName": {
                                "type": "string",
                                "example": "Smith"
                              },
                              "email": {
                                "type": "string",
                                "example": "fake.john.smith@cbd.int"
                              }
                            }
                          },
                          "submittedOn": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2013-10-01T22:08:17.073Z"
                          },
                          "submittedBy": {
                            "type": "object",
                            "properties": {
                              "userID": {
                                "type": "integer",
                                "example": 123
                              },
                              "firstName": {
                                "type": "string",
                                "example": "John"
                              },
                              "lastName": {
                                "type": "string",
                                "example": "Smith"
                              },
                              "email": {
                                "type": "string",
                                "example": "fake.john.smith@cbd.int"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string",
                      "example": "invalidParameter"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["date"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Date format is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 401
                    },
                    "code": {
                      "type": "string",
                      "example": "unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string",
                      "example": "forbidden"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string",
                      "example": "notFound"
                    },
                    "message": {
                      "type": "string",
                      "example": "Document not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
