{
  "openapi": "3.0.0",
  "info": {
    "title": "ABS Permit API",
    "version": "1.0.0",
    "description": "API for querying ABS permits with specific government, usage, and keyword criteria."
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013",
      "description": "ABS Permit API Server"
    }
  ],
  "paths": {
    "/index": {
      "get": {
        "summary": "Query ABS permits with government, usage, and keyword criteria",
        "description": "Retrieve permits by schema, government, usage, and keyword criteria. Note: The value of `usages_ss` and `keywords_ss` fields may contain special characters that need to be escaped. Refer to the [Apache Solr](/apache-solr) for a list of special characters and how to escape them.",
        "tags": ["Get All ABS Permit with sub-filters"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "(schema_s:absPermit)AND(government_s:cy)AND(usages_ss:60EA2F49\\-A9DD\\-406F\\-921A\\-8A1C9AA8DFDD)AND(keywords_ss:357DBB22\\-6A6C\\-4C49-BA1F\\-037320B09247)"
            },
            "description": "Query parameter for searching ABS permits based on schema, government, usage, and keyword criteria."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of permits matching the criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "numFound": {
                          "type": "integer",
                          "description": "Total number of permits found"
                        },
                        "start": {
                          "type": "integer",
                          "description": "Start index of the results"
                        },
                        "docs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Permit ID"
                              },
                              "title": {
                                "type": "string",
                                "description": "Title of the permit"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "date",
                                "description": "Date the permit was issued"
                              },
                              "expirationDate": {
                                "type": "string",
                                "format": "date",
                                "description": "Date the permit expires"
                              },
                              "government": {
                                "type": "string",
                                "description": "Government associated with the permit"
                              },
                              "usages": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "Usage identifiers associated with the permit"
                                }
                              },
                              "keywords": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "Keyword identifiers associated with the permit"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "response": {
                    "numFound": 25,
                    "start": 0,
                    "docs": [
                      {
                        "id": "67890",
                        "title": "Sample Permit Title",
                        "issuedDate": "2024-02-15",
                        "expirationDate": "2025-02-15",
                        "government": "cy",
                        "usages": ["60EA2F49-A9DD-406F-921A-8A1C9AA8DFDD"],
                        "keywords": ["357DBB22-6A6C-4C49-BA1F-037320B09247"]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, possibly due to malformed query parameter"
          }
        }
      }
    }
  }
}
