{
  "openapi": "3.0.0",
  "info": {
    "title": "Documents API",
    "description": "API to unpublish documents.",
    "version": "2.13.0"
  },
  "servers": [
    {
      "url": "https://absch.cbddev.xyz/api/v2013"
    }
  ],
  "paths": {
    "/documents/{uid}": {
      "delete": {
        "summary": "Delete a document",
        "description": "Unpublish a document.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9\\-_]{11,128}$"
            },
            "description": "Identifier of the document. The value is case-sensitive."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TicketAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TicketAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Authorization token format: 'Ticket {token}'"
      }
    }
  }
}
