{
    "openapi": "3.0.0",
    "info": {
      "title": "CBD API Documentation",
      "version": "1.0.0",
      "description": "API documentation for terms under domain 545CD54C-CFF3-41E8-A003-FDD278426A3A."
    },
    "servers": [
        {
            "url": "https://api.cbd.int/api/v2013"
        }
    ],
    "paths": {
      "/thesaurus/domains/545CD54C-CFF3-41E8-A003-FDD278426A3A/terms": {
        "get": {
          "summary": "Get terms",
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "termId": {
                          "type": "integer"
                        },
                        "identifier": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "title": {
                          "type": "object",
                          "properties": {
                            "en": { "type": "string" },
                            "es": { "type": "string" },
                            "fr": { "type": "string" },
                            "ar": { "type": "string" },
                            "ru": { "type": "string" },
                            "zh": { "type": "string" }
                          }
                        },
                        "shortTitle": {
                          "type": "object"
                        },
                        "description": {
                          "type": "string"
                        },
                        "longDescription": {
                          "type": "object"
                        },
                        "source": {
                          "type": "string"
                        },
                        "broaderTerms": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "narrowerTerms": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "relatedTerms": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "nonPreferedTerms": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  