{
    "openapi": "3.0.0",
    "info": {
      "title": "User Authentication API",
      "description": "API to authenticate users and obtain authorization tokens.",
      "version": "1.0.0"
    },
    "servers": [
        {
          "url": "https://absch.cbddev.xyz/api/v2013"
        }
      ],
    "paths": {
      "/authentication/token": {
        "post": {
          "summary": "Obtain Authorization Token",
          "description": "Authenticate with the API using email and password to obtain an authorization token.",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "your.email@example.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "yourpassword"
                    }
                  },
                  "required": ["email", "password"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful operation",
              "content": {
                "application/json": {
                  "example": {
                    "authenticationToken": "<AUTHENTICATION TOKEN>",
                    "expiration": "2024-07-17T02:01:54.2274392Z"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "application/json": {
                  "example": {
                    "statusCode": 400,
                    "code": "invalidCredentials",
                    "message": "Email or password is incorrect"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "example": {
                    "statusCode": 401,
                    "code": "unauthorized",
                    "message": "Unauthorized access"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "AuthRequest": {
          "type": "object",
          "properties": {
            "email": {
              "type": "string",
              "example": "your.email@example.com"
            },
            "password": {
              "type": "string",
              "example": "yourpassword"
            }
          },
          "required": ["email", "password"]
        },
        "AuthResponse": {
          "type": "object",
          "properties": {
            "authenticationToken": {
              "type": "string",
              "example": "<AUTHENTICATION TOKEN>"
            },
            "expiration": {
              "type": "string",
              "format": "date-time",
              "example": "2024-07-17T02:01:54.2274392Z"
            }
          }
        }
      }
    }
  }
  