VITE_ACCOUNTS_HOST_URL=https://accounts.cbd.int
VITE_API_URL=https://api.cbd.int
VITE_ABS_URL=https://absch.cbd.int
VITE_BCH_URL=https://bch.cbd.int
VITE_CHM_URL=https://chm.cbd.int
VITE_ORT_URL=https://ort.cbd.int
